.l-margin{
    margin-left: 200px;
}

.sellerhom-out-layout{
    width: 1300px;
    height: 800px;
    border: 3px solid black;
}

.sellerhome-first-layout{
    width: 1200px;
    height: 150px;
    border: 1px solid red;
}

.sellerhome-second-layout{

}

.sellerhome-third-layout{

}