.inputText {
    width: 100px;
}

.idcheck-right{
    color: #fb7d98;
    background-color: #ffffff;
    border-color: #fb7d98;
    width: 100px;
    height: 40px;
    margin: 0 0 0 20px ;    
}

.idcheck-right:hover{
    color: #ffffff;
    background-color: #fb7d98;
}