input[type="file"] {
    width: 120px;
    height: 150px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #000000;
    display: none;
}

.seller-product-container{
    float: left;
    margin-top: 30px;
}

.seller-product-resgister{
    font-size: 50px;
}

.seller-product-div1{
    width: 1500px;
    height: 250px;
    border: 1px solid #BDB9B9;
    box-shadow: 1px 1px 1px 1px #BDB9B9;
    padding-top:20px;
    padding-left: 20px;
    margin: 30px 0;
}

.seller-product-image-button{
    margin-top:10px;
    width:120px;
    height:150px;
    border: 2px dotted #BDB9B9;
}

.fileAlready{
    margin-left: 600px;
}

.seller-product-div2{
    width: 740px;
    height: 250px;
    border: 1px solid #BDB9B9;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #BDB9B9;
    padding-top:20px;
    padding-left: 20px;
    margin-bottom: 30px 0;
    float: left;
}

.form-displayName{
    width:700px;
}

.form-stock{
    width: 332px;
    margin-left: 30px;
    display: inline;
}

.form-price{
    display: inline;
    width: 332px;
}

.seller-product-div3{
    width: 740px;
    height: 250px;
    border: 1px solid #BDB9B9;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #BDB9B9;
    padding-top:20px;
    padding-left: 20px;
    margin-bottom: 30px 0;
    float:left;
    margin-left:20px;
}

.seller-category{
    margin: 0;
    padding: 0;
}

.category-sd{
    color: #ffffff;
    background-color: #fb7d98;
    width: 110px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.category-sd:hover{
    color: #fb7d98;
    background-color: #ffffff;
    border: 1px solid #fb7d98;
}

.category-select{
    color: #fb7d98;
    background-color: #ffffff;
    border: 1px solid #fb7d98;
    width: 110px;
    height: 40px;
    margin: 10px 0;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 15px;
    
}

.seller-product-div4{
    width: 1500px;
    height: 100%;
    border: 1px solid #BDB9B9;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #BDB9B9;
    padding-top:20px;
    padding-left: 20px;
    margin-bottom: 30px;
    margin-top:30px;
    float:left;
}

.template-title{
    color: #fb7d98;
}

.seller-product-div5{
    width: 1450px;
    height: 270px;
    border: 1px solid #BDB9B9;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #BDB9B9;
    padding-top:20px;
    padding-left: 20px;
    margin-bottom: 30px;
    margin-top:30px;
    float:left;
}

.seller-template-flex{
    margin-top:20px;
    display: flex;
}

.seller-template-block2{
    margin-left:100px;
}

.seller-template-item{
    display: flex;
    margin-bottom: 20px;
}

.seller-template-writeButton{
    color: #ffffff;
    background-color: #fb7d98;
    width: 80px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 15px;
    text-align: center;
    padding-top:5px;
}

.seller-title{
    width: 550px;
}

.seller-product-div7{
    width: 1450px;
    height: 100%;
    border: 1px solid #BDB9B9;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #BDB9B9;
    padding-top:20px;
    padding-left: 20px;
    margin-bottom: 30px;
    margin-top:30px;
    float:left;
}


.seller-already-success{
    text-align: center;
}

.imgDetailAlready{
    margin-left:50px;
}

.fileimgAlready{
    margin-top:10px;
    margin-left:20px;
    width:120px;
    height:150px;
    border: 1px solid #000000;
}

.already-container{
    text-align: center;
    margin: 50px 30px;
    border: 3px solid #f0f0f0;
}

.seller-template-already-image1{
    width:1000px;
    height:300px;
    margin-bottom: 50px;
}

.seller-template-already-image2{
    width: 600px;
    height: 400px;
    margin: 50px auto;
}

.seller-template-already-image3{
    width: 400px;
    height: 600px;
    margin: 50px auto;
}

.seller-template-already-image4{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.seller-template-already-image5{
    width: 400px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.already-title{
    font-size: 35px;
    font-weight: bold;
    margin:20px auto;
}

.already-titleDetail{
    font-size: 16px;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.already-highlight{
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    margin-left: 300px;
}

.already-highlight1{
    width:300px;
    margin: 0 auto;
    margin-right: 200px;
    float: left;
}

.already-highlight2{
    width: 300px;
    margin: 0 auto;
}

.already-icon-highlight{
    width: 30px;
    height: 30px;
}

.already-productName{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.already-productDetail{
    width: 800px;
    font-size:13px;
    margin: 0 auto;
}

.already-seing{
    height: 50px;
}