.seller-nav-container{
    width: 200px;
    height: 2000px;
    border: 3px solid #FB7D98;
    float: left;
    margin-right: 10px;
}

.seller-nav-total1{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left :10px;
}

.seller-nav-total1:hover{
    color: #fb7d98;
    background-color: #ffffff;
    border-color: #fb7d98;
    margin-bottom: 160px;
}

.seller-nav-total2{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left :10px;
}

.seller-nav-total2:hover{
    color: #fb7d98;
    background-color: #ffffff;
    border-color: #fb7d98;
    margin-bottom: 80px;
}

.seller-nav-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.seller-nav-title{
    font-size: 20px;
}

.seller-hover-child{
    color:#000000;
    margin-top: 15px;
    margin-left:50px;
}

.seller-hover-child a:hover{
    color: #fb7d98;
    background-color: #ffffff;
    border-color: #fb7d98;
    list-style: none;
    text-decoration: none;
}

.seller-hover-child a{
    color:#000000;
    text-decoration: none;
}

