.order-container {
	width: 1000px;
	margin: 50px auto;
}

.order-product-img {
	width: 7em;
	height: 7em;
}

.order-product-row-div {
	margin-top: 50px;
}

.coupon-card-div {
	height: 120px;
	padding: 10px;
}

.coupon-card-div:active {
	color: #fb7d98;
}