div {
    display: block;
}

.order-detail {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.content-detail {
    display: flex;
    position: relative;
    margin: 30px;
    padding-top: 15px;
    padding-left: 15px;
    background-color: #EEEEEE;
    border-radius: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.image {
    border-radius: 20px;
    width: 100px;
}

.content-detail-image {
    width: 13%;
}

.detail-values {
    position: relative;
    width: 60%;
}

.detail-values > .values-top {
    margin-top: 2%;
}

.detail-values > .values-bottom {
    margin-top: 3%;
}

.status {
    width: 27%;
    margin-top: 4%;
}

.values-bottom {
    margin-top: 2%;
    display: flex;
}

.price {
    padding-right: 10px;
    /* border-right: 1px solid black; */
}

.content-detail-name {
    font-weight: bold;
}

.order-detail-move-button {
    padding-bottom: 5%;
}