hr{
    border-width: 1px;
    border-color: #000000;
}

.cateogryProduct{
    width: 1000px;
    margin: 0 auto;
}

.cateogryProduct-name{
    text-align: center;
    margin-bottom: 30px;
}

.categoryProduct-sortingUl button li{
    list-style-type: none;
    float: left;
    font-size: 15px;
    margin: 30px 95px;
}

.categoryProduct-sortingUl button li:hover{
    color: #fb7d98;
    background-color: #ffffff;
    border-color: #fb7d98;
}

.cateNum{
    color: #FB7D98;
}

.category-product-title{
    margin-top: 50px;
    font-size: 17px;
}