.contentsWrap.fullType .stickyTab {
    width: 1140px;
    margin-top: 20px;
}
.vue-affix.affix-top {
    position: static!important;
}
.vue-affix {
    position: relative;
}
.stickyTab {
    float: left;
    width: 785px;
    background: #fff;
    z-index: 100;
}
.scrollTab.full {
    padding: 0 70px;
}
.scrollTab {
    padding: 0 84px;
    border-bottom: 1px solid #eee;
}
.scrollTabInner, .scrollTab ul {
    display: flex;
    list-style:none;
}
.scrollTabInner {
    -webkit-box-pack: center;
    justify-content: center;
}
.scrollTab ul {
    width: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.scrollTabInner, .scrollTab ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.scrollTab li.customActive a {
    font-weight: 700;
    color: #333;
    border-bottom: 3px solid #333;
}
.scrollTab {
    padding: 0 84px;
    border-bottom: 1px solid #eee;
}
.contentsWrap.fullType .productDetailContents, .contentsWrap.fullType .tabContents {
    width: 1140px;
    padding-right: 0;
}
.scrollTab {
    padding: 0 84px;
    border-bottom: 1px solid #eee;
}
.productTabContents {
    border-top: 1px solid #333;
}
.productTabContents, .productTopContents {
    position: relative;
}
.util .sum strong[data-v-2d2cca6e] {
    display: inline-block;
    font-size: 28px;
    line-height: 1.36;
}
