.productQnaWrap, .productReviewWrap {
    position: relative;
    padding-top: 100px;
    margin-top: -10px;
}
.util .sum strong[data-v-2d2cca6e] {
    display: inline-block;
    font-size: 28px;
    line-height: 1.36;
}
.util .sum span[data-v-2d2cca6e] {
    display: inline-block;
    padding-left: 4px;
    vertical-align: text-bottom;
    font-size: 18px;
}
.groupProd .util.isOptionType[data-v-2d2cca6e] {
    border-bottom: 1px solid #333;
}
.cores[data-v-2d2cca6e] {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 30px 0 30px;
}
.cores .staring[data-v-2d2cca6e] {
    display: inline-block;
    width: 28%;
    max-width: 100%;
}
.cores .staring .star[data-v-2d2cca6e] {
    display: block;
    margin: 0 auto 7px;
    width: 130px;
    height: 26px;
    background: url(//static.lotteon.com/p/product/assets/img/icon_star.svg) repeat-x 0/26px 26px;
}
.cores .staring .star strong[data-v-2d2cca6e] {
    display: block;
    width: 100%;
    height: 100%;
    background: url(//static.lotteon.com/p/product/assets/img/icon_star_full.svg) repeat-x 0/26px 26px;
}
.blind, .hiddenTxt {
    overflow: hidden;
    display: inline-block;
    border: 0;
    margin: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    position: absolute;
    top: 0!important;
    left: 0!important;
}
.cores .staring .score[data-v-2d2cca6e] {
    display: block;
    margin-top: 10px;
    text-align: center;
}
.cores .staring .score .total[data-v-2d2cca6e], .cores .staring .score em[data-v-2d2cca6e] {
    display: inline-block;
    vertical-align: middle;
    padding-left: 4px;
    font-size: 28px;
    line-height: 1.36;
}
.info[data-v-597ad349] {
    padding: 24px 0 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 13px;
    line-height: 1.46;
    letter-spacing: -.02em;
}
.info .total[data-v-597ad349] {
    font-size: 15px;
    line-height: 1.47;
}
.reviewList[data-v-05ce94ee] {
    border-bottom: 1px solid #eee;
    padding: 23px 0 20px;
}
.uswersAndMoremenu[data-v-05ce94ee] {
    position: relative;
}
.users[data-v-05ce94ee] {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.users figure.profileImg5[data-v-05ce94ee] {
    background: url(//static.lotteon.com/p/product/assets/img/img_profile_default_random_05.svg) no-repeat 50%/cover;
}
.users figure[data-v-05ce94ee] {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
}
figure, form {
    margin: 0;
}
.blind, .hiddenTxt {
    overflow: hidden;
    display: inline-block;
    border: 0;
    margin: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    position: absolute;
    top: 0!important;
    left: 0!important;
}
.users .identities[data-v-05ce94ee] {
    margin-left: 8px;
}
.users .identities .userNameWrap[data-v-05ce94ee] {
    display: block;
}
.users .identities .userNameWrap .userName[data-v-05ce94ee] {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
}
.users .identities .badges[data-v-05ce94ee] {
    display: block;
}
.contents[data-v-05ce94ee] {
    padding-top: 15px;
    word-break: break-all;
}
.contents .staring[data-v-05ce94ee] {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.contents .staring .star[data-v-05ce94ee] {
    width: 85px;
    height: 17px;
    background: url(//static.lotteon.com/p/product/assets/img/icon_star.svg) repeat-x 0/17px 17px;
}
.contents .staring .star strong[data-v-05ce94ee] {
    display: block;
    height: 100%;
    background: url(//static.lotteon.com/p/product/assets/img/icon_star_full.svg) repeat-x 0/17px 17px;
}
.contents .staring em[data-v-05ce94ee] {
    display: inline-block;
    margin-top: 1px;
    padding-left: 4px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -.03em;
}
.contents .texts[data-v-05ce94ee] {
    display: block;
    padding-top: 10px;
    text-align: left;
    font-size: 15px;
    line-height: 1.47;
}
button span {
    position: relative;
}
.underAction[data-v-05ce94ee] {
    margin-top: 21px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.date[data-v-05ce94ee] {
    margin-left: auto;
    font-size: 13px;
    line-height: 1.46;
    color: #999;
}
.groupProd .util.isOptionType[data-v-2d2cca6e] {
    border-bottom: 1px solid #333;
}
.reviewContent {
	border: 2px solid rgb(213, 194, 194);
}
.reviewContent:focus {
	border: 2px solid rgb(213, 194, 194);
    outline-color: #FE6B8B;
}
