
.container{
    margin : 20px auto;
    height: 100%;
    align-content: center;
}

.card{
    height: 550px;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    background-color: rgb(255, 255, 255) !important;
}

.card-body{
    margin:0 auto;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #fb7d98;
}

.social_icon span:hover{
    color: #686868;
    cursor: pointer;
}

.card-header h3{
    color: #706f6f;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #fb7d98;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.idCheck{
    margin-top: 15px;
    float: right;
}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: #ffffff;
    background-color: #fb7d98;
    width: 500px;
    margin: 30px auto;    
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.kakao{
    color: #ffffff;
    background-color: #F9E000;
    width: 500px;
    margin:0 auto;
    margin-bottom: 30px;
}

.kakao:hover{
    color: black;
    background-color: white;
}

.naver{
    color: #ffffff;
    background-color: rgba(0,191,40);
    width: 500px;
    margin:0 auto;
}

.naver:hover{
    color: black;
    background-color: white;
}


.links{
    color: white;
}

.links a{
    margin-left: 4px;
}